@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Roboto', sans-serif;
}

header, main, footer {
    padding-left: 250px;
    padding-right: 250px;
}

/*header*/

header {
    height: 80px;
    background-color: #FBD9F0;
    display: flex;
    align-items: center;
}

#logo {
    width: 30px;
    padding-right: 10px;
}

#text-logo {
    display: inline-block;
    width: 30%;
    font-weight: bold;
    font-size: 18px;
}

nav {
    width: 69%;
    display: inline-block;
}

ul {
    list-style: none;
    
    display: flex;
    justify-content: flex-end;
}

.link {
    margin-left: 20px;
}

.link-item:hover {
    color: gray;
}

a {
    text-decoration: none;
}

/*main*/

main {
    background-color: #F3F1EA;
}

h1 {
    text-align: center;
    padding: 50px 0px 20px;
    font-size: 40px;
}

.main-container {
    height: 490px;
    display: flex;
    justify-content: center;
}

.container-text,
#container-img {
    margin: 50px;
}

.container-text {
    height: 350px;
    width: 350px;
    background-color: #FFE5BB;
    border-radius: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#text {
    padding: 0 10px;
}

#container-img {
    display: inline-block;
}

#marca {
    width: 350px;
}

/*footer*/

footer {
    height: 80px;
    background-color: #ACB5C1;
    display: flex;
    align-items: center;
    justify-content: center;
}