@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", "Roboto", sans-serif;
}

body { 
    background-color: #FFFFFD;
    display: grid;
    grid-template-areas:    
        "header"
        "presentation";
    
}

/* MENU */

#menu ul { list-style: none; }

#menu ul li {
    text-align: center; 
    padding-top: 20px;
}

#menu ul li a { 
    text-decoration: none; 
    color: black;
    font-size: 18px;
}

#menu {
    width: 100%;
    height: 150px;
    position: fixed;
    background-color: #f5c577;
    top: 65px;
    /* right: -100%; */
    opacity: 0;
    border-radius: 0px 0px 20px 20px;
    transition: all 500ms ease-out;
}

#menu.active { 
    opacity: 1;
    right: 0;
}

/* HEADER */

#toggle-btn {
    position: absolute;
    right: 20px;
    top: 12px;
    cursor: pointer;
}

#toggle-btn span {
    display: block;
    width: 40px;
    font-size: 28px;
    text-align: center;
    color: black;
    border: none;
}

#header {
    grid-area: header;
    display: flex;
    position: relative;
    background-color: #FFE4B8;
    height: 65px;
    justify-content: center;
    transition: all 500ms ease-out;
}

#header.active {
    background-color: #f5c577;
}

#img-logo {
    position: absolute;
    width: 35px;
    line-height: 65px;
    left: 25px;
    top: 13px;
}

#text-logo {
    left: 80px;
    line-height: 65px;
    font-size: 20px;
    font-weight: bold;
}

/* PRESENTATION */

.presentation {
    grid-area: presentation;
    display: grid;
    grid-template-rows: 1fr 60%;
    height: 650px;
    background-color: #FFE4B8;
    border-radius: 0px 0px 100% / 15%;

}

#container-img {
    display: flex;
    justify-content: center;
}

#brand {
    width: 300px;
    height: 300px;
}

#text,
#text-sub {
    padding-top: 30px;
}

#text {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

#text-sub {
    font-size: 23px;
    text-align: center;
    /* color: #3a3939; */
}